<!DOCTYPE html>
<html ng-app="PokemonApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 4 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.min.js"></script>
    </head>

    <body ng-controller="PokemonListCtrl">

        Найти:
        <input ng-model="myQuery"><br><br>

        Сортировать по:
        <select ng-model="myOrderProperty">
            <option value="id">ID</option>
            <option value="weight">Весу</option>
            <option value="height">Росту</option>
        </select>

        <ul>
            <li ng-repeat="singlePokemon in pokemons | filter:myQuery | orderBy:myOrderProperty">
                <small>ID #{{singlePokemon.id }}</small>
                <h1>{{singlePokemon.name | uppercase }}</h1>
                <p>Вес: {{singlePokemon.weight}}, рост: {{singlePokemon.height}}</p>
                <hr />
            </li>
        </ul>

        <p ng-show="myQuery">
            Выведены покемоны, содержащие
            {{myQuery}}
        </p>

        <script src="js/step3/app.js"></script>
        <script src="js/step3/controllers.js"></script>

    </body>

</html>
